@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/lato/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/lato/Lato-Black.ttf"); }
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/lato/Lato-Bold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato-Regular";
  font-size: 14px;
  margin: 0;
  color: #999;
  background:#fff ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; overflow-x:hidden; }

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  font-family: "Lato-Regular";
  font-size: 14px; }

select {

  cursor: pointer; }
  select option[value=""][disabled] {
    display: none; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

.wrapper {
  width: 100%;
  height: 100%;
  padding:0px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {  height: 80px;  transition: all 0.5s;  z-index: 997;  transition: all 0.5s;  padding:10px 0;  background: #fff;  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);}
#header.header-scrolled, #header.header-pages {  height: 60px;  padding: 10px 0;}
#header .logo h1 { font-size: 36px;  margin: 0;  padding: 0;  line-height: 1;  font-weight: 400;  letter-spacing: 3px;  text-transform: uppercase;}
#header .logo h1 a, #header .logo h1 a:hover {  color: #00366f;  text-decoration: none;}
#header .logo img {padding: 0;  margin: 7px 0;  max-height: 46px;}
.main-pages { margin-top: 60px;}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {  /* Drop Down */  /* Deep Drop Down */}
.main-nav, .main-nav * {  margin: 0;  padding:3px 0px 0px 0px;  list-style: none;}
.main-nav > ul > li {  position: relative;  white-space: nowrap;  float: left;}
.main-nav a {  display: block;  position: relative;  color: #8e8e8e;  padding: 10px 15px;  transition: 0.3s;  font-size: 14px;  font-family: "Montserrat", sans-serif;  font-weight: 500;}
.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {  color: #5ad3d4;  text-decoration: none;}
.main-nav .drop-down ul {  display: block;  position: absolute;  left: 0;  top: calc(100% + 30px);  z-index: 99;  opacity: 0;  visibility: hidden;  padding: 10px 0;  background: #fff;  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);  transition: ease all 0.3s;}
.main-nav .drop-down:hover > ul {  opacity: 1;  top: 100%;  visibility: visible;}
.main-nav .drop-down li {  min-width: 180px;  position: relative;}
.main-nav .drop-down ul a {  padding: 10px 20px;  font-size: 13px;  color: #8e8e8e;}
.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {  color: #5ad3d4;}
.main-nav .drop-down > a:after {  content: "\f2f2";   padding-left: 10px; font:normal normal normal 14px/1 'Material-Design-Iconic-Font'}
.main-nav .drop-down .drop-down ul {  top: 0;  left: calc(100% - 30px);}
.main-nav .drop-down .drop-down:hover > ul {  opacity: 1;  top: 0;  left: 100%;}
.main-nav .drop-down .drop-down > a {  padding-right: 35px;}
.main-nav .drop-down .drop-down > a:after {  content: "\f105";  position: absolute;  right: 15px;}
.call a{    color: #fff;    font-weight: 700;    border-radius: 25px;    background: #49aac2;}
.call a:hover{background:transparent; color:#49aac2;}

/* Mobile Navigation */

.mobile-nav {  position: fixed;  top: 0;  bottom: 0;  z-index: 9999;  overflow-y: auto;  left: -260px;  width: 260px;  padding-top: 18px;  background: rgba(19, 39, 57, 0.8);  transition: 0.4s;}
.mobile-nav * {  margin: 0;  padding: 0;  list-style: none;}
.mobile-nav a {  display: block;  position: relative;  color: #fff;  padding: 10px 20px;  font-weight: 500;}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {  color: #74b5fc;  text-decoration: none;}
.mobile-nav .drop-down > a:after {  content: "\f078";  font-family: FontAwesome;  padding-left: 10px;  position: absolute;  right: 15px;}
.mobile-nav .active.drop-down > a:after {  content: "\f077";}
.mobile-nav .drop-down > a {  padding-right: 35px;}
.mobile-nav .drop-down ul {  display: none;  overflow: hidden;}
.mobile-nav .drop-down li {  padding-left: 20px;}
.mobile-nav-toggle {  position: fixed;      right: 25px;    top: 25px;  z-index: 9998;  border: 0;  background: none;  font-size: 24px;  transition: all 0.4s;  outline: none !important;  line-height: 1;  cursor: pointer;  text-align: right;}
.mobile-nav-toggle i {  margin: 0 0 0 0;  color: #004289;}
.mobile-nav-overly {  width: 100%;  height: 100%;  z-index: 9997;  top: 0;  left: 0;  position: fixed;  background: rgba(19, 39, 57, 0.8);  overflow: hidden;  display: none;}
.mobile-nav-active {  overflow: hidden;}
.mobile-nav-active .mobile-nav {  left: 0;}
.mobile-nav-active .mobile-nav-toggle i {  color: #fff;}

.intro{padding:200px 0px 0px 0px; height:100%;}
.intro h1{font-size:80px; font-weight:700; color:#e5fbff; text-shadow: rgba(97, 228, 213, 0.20) 0px 6px 5px;}
.intro h4{font-size:24px; font-weight:300; color:#999; line-height:36px; padding:15px 0px}
.blue-btn{background:#5ad3d4; color:#fff; border-radius:25px; line-height:40px; padding:0 35px; text-align:center; border:#5ad3d4 solid 2px; font-size:18px;}
.blue-btn:hover{background:transparent; color:#5ad3d4; }

.blue-btn-big {
    background: #5ad3d4;
    color: #fff;
   
    border-radius: 25px;
    line-height: 40px !important;
    padding: 0 35px;
    text-align: center;
    border: #5ad3d4 solid 2px;
    font-size: 20px !important;
}
.blue-btn-big:hover {
    background: #fff;
    color: #5ad3d4;
}


.step-section{padding:120px 0px 70px 0px; height:auto;     background-image: linear-gradient(127deg, #4aadc5 0%, #61e4d5 91%);}
.step-section h2{color:#fff; padding-bottom:30px; }
.wizard .content{position:relative;background:#fff;margin:0;padding:30px; border-radius: 10px;     box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);}
.steps .current-info,.steps .number{display:none}
.steps ul{display:flex;justify-content:center;margin:20px 0}
.steps ul li{margin:0 5.4%;position:relative}
.steps ul li:first-child { margin-left: 0}
.steps ul li:last-child{margin-right:0}
.steps ul li .step-arrow{position:absolute;top:3px;right:-20px;max-width:57%}
.steps ul li .step-order{display:block;text-align:center;text-transform:uppercase;font-size:16px;color:#5ad4d5;margin-top:0px;font-weight:700}
.steps ul li a{text-decoration:none;}
.steps ul li.current .step-order{color:#222;}

.steps ul li.done .step-order{color:#999;}


.actions{margin-top:30px}
.actions ul{display:flex;justify-content:space-between}
.actions ul.step-4{justify-content:center}
.actions ul.step-4 li:first-child{display:none}
.actions li a{border:0;display:inline-flex;height:42px;width:132px;align-items:center;color:#fff;cursor:pointer;background:#59d1d2;text-transform:uppercase;justify-content:center;letter-spacing:1px;font-size:15px;border-radius:25px}
.actions li a:hover{background:#49aac2}
.actions li:first-child a{width:97px}
.actions li:last-child a{width:234px}
.mobile-nav-toggle{display:none;}
@media(max-width:991px){.steps ul li .step-arrow{top:45%;left:102%}
.cart_totals{width:74%}
.intro {
    padding: 200px 0px 100px 0px;
    height: auto; position: relative;
}
.main-nav a{padding:10px 8px;}

}

@media(max-width:767px){body{background:0;height:auto;display:block}
.steps ul li .step-arrow{top:35%}
.wrapper{width:auto;padding:0;height:auto}
.wizard{height:auto;padding:40px 20px 20px}
.form-row{display:block}
.form-row .form-holder{width:100%;margin-right:0;margin-bottom:25px}
.form-row .form-group{width:100%;display:block}
.actions ul{flex-direction:column;align-items:flex-end}
.actions ul li{margin-bottom:20px}
.cart_totals{width:100%}
.cart_totals .shipping th,.cart_totals .shipping td{display:block;text-align:left}
.cart_totals td{text-align:right}
.cart_totals th{width:80%}
table.cart th{display:none}
table.cart td{display:flex;align-items:center;justify-content:space-between;border:0}
table.cart td:before{content:attr(data-title);font-weight:700;color:#333}
table.cart .product-thumb,table.cart .product-detail,table.cart .product-quantity,table.cart .total-price,table.cart .product-remove{width:100%}
table.cart .product-thumb,table.cart .product-remove{justify-content:center}
table.cart tr:first-child td:last-child{padding-bottom:30px}
table.cart tr:last-child td{padding-bottom:13px}
table.cart tr:last-child td:first-child{padding-top:30px;border-top:1px solid #e6e6e6}
.mobile-nav-toggle{display:block;}
.main-nav {background: #f9f9f9;
    padding: 15px;
    display: inline-block;
    margin: 0 -15px;
    border-bottom: #eee solid 1px;}
.navbar{padding:0px;}
.collapse{display:none;}
.collapse.show{display:block;}
.main-nav > ul > li{width:100%;}
.intro h1 {    font-size: 40px;}
.intro {  padding: 120px 0px 100px 0px;}
.intro h4 { font-size: 18px;line-height: 30px;}
.intro h4 br{display:none;}
.intro .blue-btn{margin-bottom:15px;}
.step-section {    padding: 50px 0px 50px 0px;}
.steps ul li .step-order{    font-size: 10px; margin-top: 14px;    font-weight: 500;}


}

/*# sourceMappingURL=style.css.map */



.web h4{margin-bottom:20px; color:#404040;}
.amount{color:#63dadb; border:#63dadb dashed 1px; border-radius:15px; padding:5px 15px; font-size:30px; font-weight:700;  text-align:center; width:auto; max-width:150px; margin:0 auto; margin-bottom:15px;}
.border-box{border:#f7f7f7 solid 1px; border-radius:5px; padding:20px; box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10); transition: ease all 0.5s;}
.border-box .icon{background:#fff;    padding: 10px;    border-radius: 50px;    width: 80px;    height: 80px;    text-align: center;    margin: 0 auto;    border: #60e3d3 dashed 1px;}
.border-box:hover{margin-top:-10px;}
.border-box h4{font-weight:700; font-size:18px; color:#404040; padding-top:15px;  line-height:20px;  margin:0px;}
.active .border-box{    background-image: linear-gradient(127deg, #4aadc5 0%, #61e4d5 91%);}
.checkbox-list{padding:3px 0px;}
.checkbox-list li{list-style:none; display:inline-block; width:auto; padding:10px; font-size:18px; cursor:pointer;}
.mobile h4{margin-bottom:20px; color:#404040;}

.step-section h4 {
    margin-bottom: 20px;
    color: #404040;
}






/*
---------------------------------------------
footer
---------------------------------------------
*/
footer {
  background: #fff;
  padding-top: 70px;
}

footer img.logo {
  margin-bottom: 10px;
  padding-top: 8px;
}

footer .text {
  font-weight: 400;
  font-size: 14px;
  color: #647E95;
  line-height: 26px;
  letter-spacing: 0.88px;
}

footer h5 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 0.69px;
  line-height: 30px;
  margin-bottom: 30px !important;
}

footer .footer-nav li a {
  display: block;
  overflow: hidden;
}

footer .footer-nav li a:hover span {
  padding-left: 5px;
  text-decoration:underline;
}

footer .footer-nav li a i {
  float: left;
  height: 32px;
  line-height: 32px;
  margin-right: 12px;
  font-size: 14px;
  color: #3B566E;
}

footer .footer-nav li a span {
  float: left;
  height: 32px;
  line-height: 32px;
  font-weight: 400;
  font-size: 14px;
  color: #647E95;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .address p {
  display: block;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  color: #647E95;
  line-height: 26px;
  letter-spacing: 0.88px;
  margin-bottom: 5px;
}

footer .address p a {
  color: #404BCB;
}

footer .address .social {
  overflow: hidden;
  margin-top: 5px;
}

footer .address .social li {
  float: left;
  font-size: 16px;
  margin-right: 10px;
}

footer .address .social li a {
  color: #647E95;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #DAE6FD;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #647E95;
  letter-spacing: 0.88px;
}

@media (max-width: 991px) {
  footer .text {
    margin-bottom: 30px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}





.intro svg {   position: absolute;    bottom: 0;     height: 50px;    width: 100%;}
.intro .homeBgWave__background {  fill: #f2f6f9;}
.intro .homeBgWave__wave {    fill: #5ad3d4;}
.step-section{    background: #f2f6f9;}

.step-section {position:relative; padding-bottom:100px}
.step-section svg {   position: absolute;    bottom: 0;     height: 50px;    width: 100%;}
.step-section .homeBgWave__background {  fill: #fff;}
.step-section .homeBgWave__wave {    fill: #5ad3d4;}

.inline{display:inline-block !important;}
#finalstep { margin:0px auto; width:70%;}
.poc-text { width: 100%; margin: 0 auto; padding-top:20px; border-top:1px solid #eee; }
.custom-row { padding-bottom:15px;}
.project-category { width: 30%; margin: 0 auto; }

/* Loader */

#wall { position: relative; width: 100%; height: 150px; top: -10px; background: #fff; text-align: center; padding-top: 30px; font-family: Quicksand, Helvetica, sans; color: #4aadc5; }
#eye-l, #eye-r { position: absolute; z-index: 20; width: 10px; height: 10px; border-radius: 50%; background: white; margin-top: 5px; left: 5px; margin-left: -5px; -webkit-animation: search 2s infinite; box-sizing: border-box; border: 3px solid #4aadc5; }
#eye-r { margin-left: 5px; }
#nose { position: relative; width: 15px; height: 15px; border: 3px solid #4aadc5; border-radius: 50%; border-top-color: transparent; background: white; top: 12px; left: -7px; -webkit-transform: rotate(35deg); -webkit-animation: noser 2s infinite; }
#mouth { position: relative; width: 6px; height: 6px; border-radius: 50%; background: #4aadc5; margin-top: 20px; float: left; margin-left: 3px; -webkit-animation: search 2s infinite; }
#man { position: relative; width: 50px; height: 70px;border: 5px solid #4aadc5;border-radius: 50%; margin-left: 50%; left: -25px; -webkit-animation: pop 8s infinite; }
@-webkit-keyframes search { 0%, 100% { -webkit-transform: translate(0px, 0px); } 50% { -webkit-transform: translate(32px, 0px); } }
@-webkit-keyframes noser { 0%, 100% { -webkit-transform: translate(0px, 0px) rotate(35deg); } 50% { -webkit-transform: translate(43px, 0px) rotate(-35deg); } }
@-webkit-keyframes pop { 0%, 100% { -webkit-transform: translate(0px, 80px) } 20%, 80% { -webkit-transform: translate(0px, 10px) } }


.loader-box {

    position: relative;
    background: #fff;
    margin: 0;
    padding: 30px;
    border-radius: 5px;
}

.custom-button {
    border: 0;
    display: inline-flex;
    height: 42px;
    width: 90%;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background: #59d1d2;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 25px;
}

.custom-estimation-label { font-size:16px; font-weight:700; }

.category-box { display:inline-block; width:40%; padding:0px; border-radius:10px;}
 
        .category-box > div:last-child {
            border-bottom: 0px;
        }
    .category-box .custom-control-label { width:100%;}
    .category-row {
        text-align: left;
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }
        .category-row:hover {
            border: 1px solid #49aac2;
        }
        .category-row .custom-control-label:hover {
            cursor: pointer;
        }


.functionality .checkbox-list li {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
    width: 24.3%;
    margin: 10px;
    text-align: left;
}

    .functionality .checkbox-list li .custom-control-label {
        display: block;
        line-height:24px;
    }
	
	
	
	.intro svg { z-index:3;}
	.intro .container { position:relative; z-index: 2;}	
	.intro video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


.intro .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

.intro h4 { color:#fff;}

.categories .border-box .icon {
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}

.categories .active .border-box .icon {
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}

.second-step-icon .border-box .icon {
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}

.second-step-icon .active .border-box .icon {
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}

.webtechnologyul .border-box .icon {
   background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}

.webtechnologyul .active .border-box .icon {
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}




.mobiletechnologyul .border-box .icon {
   background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}

.mobiletechnologyul .active .border-box .icon {
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    border: #60e3d3 dashed 0px;
}

.poc-text .form-control {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}

.form-control:focus {
    color: #222;
    background-color: #fff;
    border-color: #5dc6c5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(93,198,197,.25);
}

.step-section > h4 { margin-top: -30px;}
.step-section h4.box-title {    font-size: 26px;
    font-weight: 400;
    padding: 10px;
    color:#647E95;border-bottom: 1px solid #eee; margin-bottom:25px; margin-top: -30px;}
.step-section h2 { font-size:40px;  font-weight:700; position:relative; display: inline-block; margin-top:-30px; padding-bottom: 20px; margin-bottom:10px; color:#222;}

   

.step-section h2:after {
    left:50%;
	margin-left:-80px;
    bottom: 0;
    height: 2px;
    content: '';
    width: 160px;
    border-radius: 2px;
    position: absolute;
	 background: #ccc;
	 
}

a.active h4 { color:#fff;}

.screens-section { padding-top:20px; border-top:1px solid #eee; padding:10px 10px;}
.screens-section label { font-size:16px; line-height:26px; color:#222; display:inline-block; margin-right:10px; }
.screens-section .form-control{
	text-align:center;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}

.screens-section .form-control:focus {
    color: #222;
    background-color: #fff;
    border-color: #5dc6c5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(93,198,197,.25);
}

.steps ul li{margin: 0;
    position: relative;
    padding: 0px 50px;}

.actions ul li:first-child a{border:0;display:inline-flex;height:42px;width:132px;align-items:center;color:#fff;cursor:pointer;background:#ccc;text-transform:uppercase;justify-content:center;letter-spacing:1px;font-size:15px;border-radius:25px}
.actions ul li:first-child a:hover{background:#222}

.final-step .form-control{
	text-align:center;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}

.final-step .form-control:focus {
    color: #222;
    background-color: #fff;
    border-color: #5dc6c5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(93,198,197,.25);
}

.final-step label { font-size:16px; line-height:26px; color:#222; display:inline-block; margin-right:10px; }
.final-step .custom-control { margin-bottom:5px;}
.final-step .custom-control label { font-size:16px; line-height:25px; color:#222; display:block; color:#49aac2;}




.text-slider { width:100%; margin-top:-70px; text-align:center; padding-bottom:20px;}


blockquote { margin-bottom:0px; font-size:18px;
	line-height:40px; color: #4aadc5; font-weight:700;}
footer .footer-nav li a i { display:none;}
	
@media (max-width: 1024px){
.intro { overflow:hidden; position: relative;}
.intro h1 { font-size:50px;}
}

@media (max-width: 767px){
.intro h1 { font-size:30px;}
.step-section h2  { font-size:26px;}
.wizard {
    height: auto;
    padding: 0px 0px 20px;
}
.step-section h4.box-title { font-size:20px;}
.steps ul { display:block;} 
.steps ul li {
    margin: 0;
    position: relative;
    padding: 0px 13px;display: inline-block;
    float: none;
}
.steps ul li .step-arrow { display:none !important; }
.steps ul li a { position:relative; display:inline-block;}
.steps ul li a:after {     content: '→';
    position: absolute;
    right: -17px;
    top: 10px; } 
.steps ul li:last-child a:after {     content: '→';
    position: absolute;
    right: -17px;
    top: 10px; display:none;} 
	
.functionality .checkbox-list li { width:100%; margin: 10px 0;}
#finalstep { width:100%;}


blockquote { font-size:16px;}
	
}
