﻿@using NPCoding.Web.Resources;

@{
    Layout = null;

    //string currentCulture = Request.Cookies["culture"].Value;
    string currentCulture = "en";
    string currentLanguage = ManageLanguage.LanguageMang.AvailableLanguages.Where(x => x.LanguageCultureName == currentCulture).Select(x => x.LanguageFullName).FirstOrDefault();

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Resource.NPCoding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/Content/vendor/date-picker/css/datepicker.min.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/Content/vendor/date-picker/css/datepicker.min.css">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/style.css">


    <!-- STYLE CSS -->
    @*@if (currentCulture == "en")
        {
            <link rel="stylesheet" href="~/Content/css/style.css">
            <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
        }
        else
        {
            <link rel="stylesheet" href="~/Content/css/style.css">
            <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
        }*@
</head>
<body>
    <div class="wrapper">

        <header id="header" class="fixed-top">
            <div class="container">
                <div class="logo float-left">
                    <a href="@Url.Action("Index", "Home")" class="scrollto"><img src="~/Content/images/logo.png" alt="" class="img-fluid"></a>
                </div>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" class="navbar-toggler mobile-nav-toggle d-lg-none"><i class="zmdi zmdi-menu"></i></button>
                <nav class="main-nav float-right d-lg-block collapse " id="navbarSupportedContent">
                    <ul>
                        <li class="active"><a href="https://npcoding.com">@Resource.Home</a></li>
                        <li><a href="http://portfolio.npcoding.com/NPC-Portfolio-2018.pdf">@Resource.Portfolio</a></li>
                        <li><a href="https://npcoding.com">@Resource.ContactUs</a></li>
                        @*<li class="drop-down">
                                <a href="">@currentLanguage</a>
                                <ul>
                                    @{
                                        foreach (var i in ManageLanguage.LanguageMang.AvailableLanguages)
                                        {
                                            <li class="@(currentCulture == i.LanguageCultureName ? "active" : string.Empty)">@Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Home", new { lang = i.LanguageCultureName }, null)</li>
                                        }
                                    }
                                </ul>
                            </li>*@
                        <li class="call"><a href="tel:972524000999"><i class="zmdi zmdi-phone"></i> 972-52-4000999</a></li>
                    </ul>
                </nav>
                <!-- .main-nav -->
            </div>
        </header>
        <div class="intro">
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="~/Content/images/video.mp4" type="video/mp4">
            </video>
            <div class="container">
                <div class="jumbotron-fluid text-center">
                    <h1 class="pb-3">@Resource.Yournext</h1>
                    <h4>
                        @Resource.DesignCode <br>
                        @Resource.DesignCode1
                    </h4>
                    <p class="pt-4"><a href="javascript:void(0)" class="btn blue-btn-big" id="step">@Resource.ProjectEstimation</a>
                </div>
            </div>
            <svg class="homeBgWave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 50" xml:space="preserve" preserveAspectRatio="none">
            <path class="homeBgWave__background" d="M0,50h1920c0,0-320-35-640-35S960,27.5,640,27.5S320,10,0,10V50z"></path>
            <path class="homeBgWave__wave" d="M0,20c320,0,320,15,640,15s320-15,640-15s640,30,640,30s-320-40-640-40S966,20,640,20S314,0,0,0V20z"></path>
  </svg>
        </div>
        <div class="step-section" id="stepsSection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>@Resource.ProjectEstimation</h2>
                    </div>
                </div>
                <form action="" id="wizard">
                    <!-- SECTION 1 -->

                    <h4></h4>

                    <input type="hidden" id="ProjectCategory" name="ProjectCategory" value="1" />



                    <section class="platforms">
                        <div class="categories">
                            <div class="clarfix">
                                <div class="text-center">
                                    <h4 class="box-title">@Resource.ChooseCategory</h4>
                                    <ul class="nav row nav-pills">
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="travel" href="#travel">
                                                <div>
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/travel.png" alt=""></div>
                                                        <h4>@Resource.Travel</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="digital" href="#digital">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/digital.png" alt=""></div>
                                                        <h4>@Resource.Digital</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="datasecurity" href="#datasecurity">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/DataSecurity.png" alt=""></div>
                                                        <h4>@Resource.DataSecurity</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="productivity" href="#productivity">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Productivity.png" alt=""></div>
                                                        <h4>@Resource.Productivity</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="gaming" href="#gaming">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Gaming.png" alt=""></div>
                                                        <h4>@Resource.Gaming</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="business" href="#business">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Business.png" alt=""></div>
                                                        <h4>@Resource.Business</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="educational" href="#educational">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Educational.png" alt=""></div>
                                                        <h4>@Resource.Educational</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="lifestyle" href="#lifestyle">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Lifestyle.png" alt=""></div>
                                                        <h4>@Resource.Lifestyle</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="entertainment" href="#entertainment">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Entertainment.png" alt=""></div>
                                                        <h4>@Resource.Entertainment</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="utility" href="#utility">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Utility.png" alt=""></div>
                                                        <h4>@Resource.Utility</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-md-4 col-lg-3 mb-3">
                                            <a data-toggle="pill" class="categoryplatform" id="other" href="#other">
                                                <div class="">
                                                    <div class="border-box">
                                                        <div class="icon"><img src="~/Content/Icons/Other.png" alt=""></div>
                                                        <h4>@Resource.Other</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- SECTION 2 -->
                    <h4></h4>
                    <section class="platforms">
                        <div class="text-center second-step-icon">
                            <h4 class="box-title">@Resource.Platforms</h4>
                            <input type="hidden" id="SelectedPlatform" name="SelectedPlatform" value="1" />
                            <ul class="nav row nav-pills">
                                <li class="col-sm-4 mb-3">
                                    <a data-toggle="pill" class="platform" id="web" href="#web">
                                        <div>
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/step-1.png" alt=""></div>
                                                <h4>@Resource.Web</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4 mb-3">
                                    <a data-toggle="pill" class="platform" id="mobile" href="#mobile">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/step-2.png" alt=""></div>
                                                <h4>@Resource.Mobile</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4 mb-3">
                                    <a data-toggle="pill" class="platform" id="webmobile" href="#webmobile">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/step-3.png" alt=""></div>
                                                <h4>@Resource.WebMobile</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4  mb-3">
                                    <a data-toggle="pill" class="platform" id="MobilePOC" href="#mobilepoc">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/mobile.png" alt=""></div>
                                                <h4>@Resource.MobilePOC</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4  mb-3">
                                    <a data-toggle="pill" class="platform" id="Crawling" href="#crawling">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/web.png" alt=""></div>
                                                <h4>@Resource.Crawling</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="POC-text" style="display:none;">
                                <div class="poc-text">
                                    <textarea class="form-control" type="text" id="MobilePOCText" name="MobilePOCText" placeholder="@Resource.MoiblePOCText" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="CrawlingPOC-text" style="display:none;">
                                <div class="poc-text">
                                    <textarea class="form-control" type="text" id="CrawlingPOCText" name="CrawlingPOCText" placeholder="@Resource.CrawlingPOCText" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 2 -->
                    <h4></h4>
                    <section class="technology" style="display:none;">
                        <div class="text-center webtechnologydiv mb-5">
                            <h4 class="box-title">@Resource.WebTechnologies</h4>
                            <input type="hidden" id="SelectedWebTechnology" name="SelectedWebTechnology" value="1" />
                            <ul class="nav row nav-pills webtechnologyul mb-3">
                                <li class="col-sm-3 mb-3">
                                    <a data-toggle="pill" class="webtechnology" href="#react">
                                        <div>
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/react.png" alt=""></div>
                                                <h4>@Resource.ReactJS</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3 mb-3">
                                    <a data-toggle="pill" class="webtechnology" href="#angular">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/angular.png" alt=""></div>
                                                <h4>@Resource.Angular</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3 mb-3">
                                    <a data-toggle="pill" class="webtechnology" href="#jquery">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/jquery.png" alt=""></div>
                                                <h4>@Resource.jQuery</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3 mb-3">
                                    <a data-toggle="pill" class="webtechnology" href="#ecommerce">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/ecommerce.png" alt=""></div>
                                                <h4>@Resource.eCommerce</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="webtechnologyamountdiv screens-section" style="display:none;">
                                <div class="col-sm-4 offset-sm-4">
                                    <div class="row  align-items-center ">
                                        <div class="col-sm-12">
                                            <label>@Resource.Amountofscreens</label>
                                            <input type="text" min="1" max="99" maxlength="2" class="form-control col-sm-6 numeric" id="AmountOfScreenWeb" name="AmountOfScreenWeb" style="display: inline-block; width:60px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mobiletechnologydiv" style="display:none;">
                            <h4 class="box-title">@Resource.MobileTechnologies</h4>
                            <input type="hidden" id="SelectedMobileTechnology" name="SelectedMobileTechnology" value="1" />
                            <ul class="nav row nav-pills mobiletechnologyul mb-5">
                                <li class="col-sm-4 mb-3">
                                    <a data-toggle="pill" class="mobiletechnology" href="#android">
                                        <div>
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/android.png" alt=""></div>
                                                <h4>@Resource.Android</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4 mb-3">
                                    <a data-toggle="pill" class="mobiletechnology" href="#iPhone">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/iphone.png" alt=""></div>
                                                <h4>@Resource.iPhone</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4 mb-3">
                                    <a data-toggle="pill" class="mobiletechnology" href="#both">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/both.png" alt=""></div>
                                                <h4>@Resource.Both</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class=" mobiletechnologyamountdiv screens-section" style="display:none;">
                                <div class="col-sm-4 offset-sm-4">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12"><label>@Resource.Amountofscreens</label><input type="text" min="1" max="99" maxlength="2" class="form-control col-sm-6 numeric" id="AmountOfScreenMobile" name="AmountOfScreenMobile" style="display: inline-block;margin-left: 10px;width: 66px;" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 3 -->
                    <h4></h4>
                    <section class="functionality">
                        <div id="webfunctionality" class="text-center webfunctionalitydiv mb-5">
                            <h4 class="box-title">@Resource.WebFunctionalities</h4>
                            <div class="checkbox-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="DesignsWeb" name="DesignsWeb">
                                        <label class="custom-control-label" for="DesignsWeb">@Resource.Designs</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="DatabaseWeb" name="DatabaseWeb">
                                        <label class="custom-control-label" for="DatabaseWeb">@Resource.Database</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="APIWeb" name="APIWeb">
                                        <label class="custom-control-label" for="APIWeb">@Resource.API</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="SecurityLayerWeb" name="SecurityLayerWeb">
                                        <label class="custom-control-label" for="SecurityLayerWeb">@Resource.Securitylayer</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="CloudServersWeb" name="CloudServersWeb">
                                        <label class="custom-control-label" for="CloudServersWeb">@Resource.Cloudservers</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ExternalApiWeb" name="ExternalApiWeb">
                                        <label class="custom-control-label" for="ExternalApiWeb">@Resource.ExternalAPIs</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="SpecialSdkWeb" name="SpecialSdkWeb">
                                        <label class="custom-control-label" for="SpecialSdkWeb">@Resource.SpecialSDKs</label>
                                    </div>
                                </li>
                            </div>
                        </div>
                        <div class="text-center mobilefunctionalitydiv mb-5" style="display:none;">
                            <h4 class="box-title">@Resource.MobileFunctionalities</h4>
                            <div class="checkbox-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="DesignsMobile" name="DesignsMobile">
                                        <label class="custom-control-label" for="DesignsMobile">@Resource.Designs</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="DatabaseMobile" name="DatabaseMobile">
                                        <label class="custom-control-label" for="DatabaseMobile">@Resource.Database</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="APIMobile" name="APIMobile">
                                        <label class="custom-control-label" for="APIMobile">@Resource.API</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="SecurityLayerMobile" name="SecurityLayerMobile">
                                        <label class="custom-control-label" for="SecurityLayerMobile">@Resource.Securitylayer</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="CloudServersMobile" name="CloudServersMobile">
                                        <label class="custom-control-label" for="CloudServersMobile">@Resource.Cloudservers</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ExternalApiMobile" name="ExternalApiMobile">
                                        <label class="custom-control-label" for="ExternalApiMobile">@Resource.ExternalAPIs</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="SpecialSdkMobile" name="SpecialSdkMobile">
                                        <label class="custom-control-label" for="SpecialSdkMobile">@Resource.SpecialSDKs</label>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 4 -->
                    <h4></h4>
                    <section class="final-step">
                        <div class="">
                            <div class="tab-content">
                                <div id="finalstep" class="tab-pane fade in active show">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row custom-row">
                                                <div class="col-sm-4"><label>@Resource.Urgency</label></div>
                                                <div class="col-sm-6">
                                                    <div class="custom-control custom-checkbox inline">
                                                        <input type="checkbox" class="custom-control-input" id="Urgency" name="Urgency">
                                                        <label class="custom-control-label" for="Urgency">@Resource.Immediate</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row custom-row">
                                                <div class="col-sm-4"><label>@Resource.Developers</label></div>
                                                <div class="col-sm-6">
                                                    <div class="custom-control custom-radio inline pr-2">
                                                        <input type="radio" class="custom-control-input" id="Domestic" name="Developer" value="Domestic">
                                                        <label class="custom-control-label" for="Domestic">@Resource.Domestic</label>
                                                    </div>
                                                    <div class="custom-control custom-radio inline">
                                                        <input type="radio" class="custom-control-input" id="Outsource" name="Developer" value="Outsource" checked>
                                                        <label class="custom-control-label" for="Outsource"> @Resource.Outsource</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-12 custom-row">
                                                    <input type="text" id="ClientEmail" max="50" maxlength="50" name="ClientEmail" class="form-control" placeholder="@Resource.Email" />
                                                </div>
                                                <div class="col-sm-12 custom-row">
                                                    <input type="text" id="ClientMobile" max="15" maxlength="15" name="ClientMobile" class="form-control" placeholder="@Resource.MobileNumber" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>

                <div class="loader-box" style="display: none;">
                    <div id="man" class="loader-div">
                        <div id="eye-l"></div>
                        <div id="eye-r"></div>
                        <div id="nose"></div>
                        <div id="mouth"></div>
                    </div>
                    <div id="wall" class="loader-div">@Resource.Estimatingtext</div>
                    <div class="row text-center" id="estimationDiv" style="display:none;">
                        <div class="col-sm-4 offset-sm-4">
                            <label class="custom-estimation-label">@Resource.WeAreGet</label>
                            <div class="mb-3"></div>
                        </div>
                        <div class="col-sm-4 offset-sm-4">
                            <button class="custom-button" type="button" id="EstimateOtherProject">@Resource.EstimateAnother</button>
                        </div>
                    </div>
                    <div class="text-slider">
                        <div><blockquote>Conversion is the real reason for building a project. Lucky for you it's our expertise.</blockquote></div>
                        <div><blockquote>UI/UX is many times the reason why your users will feel it's OK to buy more.</blockquote></div>
                        <div><blockquote>Don't waste time on thinking how to build, while you can just build your thoughts.</blockquote></div>
                    </div>
                    <div class="alert alert-danger text-center" id="captchaError" style="display:none;">
                        Error verifying reCaptcha, please try again later.
                    </div>
                </div>
            </div>

            <svg class="homeBgWave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 50" xml:space="preserve" preserveAspectRatio="none">
            <path class="homeBgWave__background" d="M0,50h1920c0,0-320-35-640-35S960,27.5,640,27.5S320,10,0,10V50z"></path>
            <path class="homeBgWave__wave" d="M0,20c320,0,320,15,640,15s320-15,640-15s640,30,640,30s-320-40-640-40S966,20,640,20S314,0,0,0V20z"></path>
  </svg>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/Content/images/logo.png" class="logo" alt="">
                        <div class="address">
                            <p><b>@Resource.Slogan</b></p>
                            <p>@Resource.FooterText</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <h5>@Resource.HelpfulLinks</h5>
                        <ul class="footer-nav">
                            <li><a href="https://npcoding.com"><i class="fa fa-angle-right"></i><span>@Resource.Home</span></a></li>
                            <li><a href="http://portfolio.npcoding.com/NPC-Portfolio-2018.pdf"><i class="fa fa-angle-right"></i><span>@Resource.Portfolio</span></a></li>
                            <li><a href="https://npcoding.com"><i class="fa fa-angle-right"></i><span>@Resource.Services</span></a></li>
                            <li><a href="https://npcoding.com"><i class="fa fa-angle-right"></i><span>@Resource.Contact</span></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="">@Resource.OpeningHours</h5>
                        <div class="address">
                            <p>@Resource.SundayThursday</p>
                            <p>@Resource.FridayByappointment</p>
                            <p>@Resource.SaturdayClosed</p>
                        </div>
                    </div>
                    <div class="col-sm-3 ">
                        <h5>@Resource.ContactUs</h5>
                        <div class="address">
                            <p>@Resource.Address</p>
                            <p>@Resource.Phone <a href="tel:972524000999">972-52-4000999</a></p>
                            <p><span>@Resource.EmailHyphen </span><a href="mailto:info@npcoding.com">info@npcoding.com</a></p>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-github-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright">@Resource.NPCodingAllRightsReserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>

    <!-- JQUERY Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.js"></script>
    <!-- JQUERY STEP -->
    <script src="~/Content/js/jquery.steps.js"></script>

    <script>
        var getEstimationUrl = '@Url.Action("GetEstimation", "Home")';
        var verifyCaptcha = '@Url.Action("VerifyCaptcha", "Home")';
        var googleCaptchaKey = '@Utils.ConfigKey("GoogleCaptchaKey")';
        var sendContactDetailsUrl = '@Url.Action("SendContactInformation", "Home")';
        var react = '@EnumData.WebTechnology.React.ToString().ToLower()';
        var angular = '@EnumData.WebTechnology.Angular.ToString().ToLower()';
        var jquery = '@EnumData.WebTechnology.jQuery.ToString().ToLower()';
        var eCommerce = '@EnumData.WebTechnology.eCommerce.ToString().ToLower()';
        var reactVal = '@((int)EnumData.WebTechnology.React)';
        var angularVal = '@((int)EnumData.WebTechnology.Angular)';
        var jqueryVal = '@((int)EnumData.WebTechnology.jQuery)';
        var ecommerceVal = '@((int)EnumData.WebTechnology.eCommerce)';
        var android = '@EnumData.MobileTechnology.Android.ToString().ToLower()';
        var iphone = '@EnumData.MobileTechnology.iPhone.ToString().ToLower()';
        var both = '@EnumData.MobileTechnology.Both.ToString().ToLower()';
        var androidVal = '@((int)EnumData.MobileTechnology.Android)';
        var iphoneVal = '@((int)EnumData.MobileTechnology.iPhone)';
        var bothVal = '@((int)EnumData.MobileTechnology.Both)';
        var web = '@EnumData.Platform.Web.ToString().ToLower()';
        var mobile = '@EnumData.Platform.Mobile.ToString().ToLower()';
        var webMobile = '@EnumData.Platform.WebMobile.ToString().ToLower()';
        var mobilepoc = '@EnumData.Platform.MobilePOC.ToString().ToLower()';
        var crawling = '@EnumData.Platform.Crawling.ToString().ToLower()';
        var webVal = '@((int)EnumData.Platform.Web)';
        var mobileVal = '@((int)EnumData.Platform.Mobile)';
        var webMobileVal = '@((int)EnumData.Platform.WebMobile)';
        var mobilepocVal = '@((int)EnumData.Platform.MobilePOC)';
        var crawlingVal = '@((int)EnumData.Platform.Crawling)';

        var travel = '@EnumData.ProjectCategory.Travel.ToString().ToLower()'
        var digital = '@EnumData.ProjectCategory.Digital.ToString().ToLower()'
        var dataSecurity = '@EnumData.ProjectCategory.DataSecurity.ToString().ToLower()'
        var productivity = '@EnumData.ProjectCategory.Productivity.ToString().ToLower()'
        var gaming = '@EnumData.ProjectCategory.Gaming.ToString().ToLower()'
        var business = '@EnumData.ProjectCategory.Business.ToString().ToLower()'
        var educational = '@EnumData.ProjectCategory.Educational.ToString().ToLower()'
        var lifestyle = '@EnumData.ProjectCategory.Lifestyle.ToString().ToLower()'
        var entertainment = '@EnumData.ProjectCategory.Entertainment.ToString().ToLower()'
        var utility = '@EnumData.ProjectCategory.Utility.ToString().ToLower()'
        var other = '@EnumData.ProjectCategory.Other.ToString().ToLower()'

        var travelVal = '@((int)EnumData.ProjectCategory.Travel)';
        var digitalVal = '@((int)EnumData.ProjectCategory.Digital)'
        var dataSecurityVal = '@((int)EnumData.ProjectCategory.DataSecurity)'
        var productivityVal = '@((int)EnumData.ProjectCategory.Productivity)'
        var gamingVal = '@((int)EnumData.ProjectCategory.Gaming)'
        var businessVal = '@((int)EnumData.ProjectCategory.Business)'
        var educationalVal = '@((int)EnumData.ProjectCategory.Educational)'
        var lifestyleVal = '@((int)EnumData.ProjectCategory.Lifestyle)'
        var entertainmentVal = '@((int)EnumData.ProjectCategory.Entertainment)'
        var utilityVal = '@((int)EnumData.ProjectCategory.Utility)'
        var otherVal = '@((int)EnumData.ProjectCategory.Other)'

        var continueText = '@Resource.Continue';
        var backText = '@Resource.Back';
        var getEstimationText = '@Resource.GetEstimation';
        var categories = '@Resource.Categories';
        var platformes = '@Resource.Platforms';
        var technologies = '@Resource.Technologies';
        var functionalities = '@Resource.Functionalities';
        @*var stepArrowImg = '@(currentCulture == "en" ? "step-arrow.png" : "step-arrow-he.png")';*@
        var currentlanguage = '@currentLanguage';
    </script>




    <script src="~/Content/js/custom/homeindex.js"></script>

    <script src="~/Content/js/main.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@Utils.ConfigKey("GoogleCaptchaKey")"></script>



</body>
</html>