﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NPCoding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Content/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/Content/vendor/date-picker/css/datepicker.min.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/Content/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    <div class="wrapper">

        <header id="header" class="fixed-top">
            <div class="container">
                <div class="logo float-left">
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <h1 class="text-light"><a href="#header"><span>NPCoding</span></a></h1> -->
                    <a href="#intro" class="scrollto"><img src="~/Content/images/logo.png" alt="" class="img-fluid"></a>
                </div>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" class="navbar-toggler mobile-nav-toggle d-lg-none"><i class="zmdi zmdi-menu"></i></button>
                <nav class="main-nav float-right d-lg-block collapse " id="navbarSupportedContent">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li class="drop-down">
                            <a href="">Services </a>
                            <ul>
                                <li><a href="#">Services 1</a></li>
                                <li><a href="#">Services 2</a></li>
                                <li><a href="#">Services 3</a></li>
                                <li><a href="#">Services 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact Us</a></li>
                        <li class="call"><a href="tel:972524000999"><i class="zmdi zmdi-phone"></i> 972-52-4000999</a></li>
                    </ul>
                </nav>
                <!-- .main-nav -->
            </div>
        </header>
        <div class="intro">
            <div class="container">
                <div class="jumbotron-fluid text-center">
                    <h1 class="pb-3">Your next project starts now!</h1>
                    <h4>
                        We Design & Code Mobile and Desktop Apps, <br>
                        Platforms and Dashboards, POCs and many more...
                    </h4>
                    <p class="pt-4"><a href="javascript:void(0)" class="btn blue-btn" id="step">Project Estimation</a> &nbsp; <a href="javascript:void(0)" class="btn blue-btn">Get in Touch</a> </p>
                </div>
            </div>
            <svg class="homeBgWave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 50" xml:space="preserve" preserveAspectRatio="none">
            <path class="homeBgWave__background" d="M0,50h1920c0,0-320-35-640-35S960,27.5,640,27.5S320,10,0,10V50z"></path>
            <path class="homeBgWave__wave" d="M0,20c320,0,320,15,640,15s320-15,640-15s640,30,640,30s-320-40-640-40S966,20,640,20S314,0,0,0V20z"></path>
  </svg>
        </div>
        <div class="step-section" id="stepsSection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2> Select your project's category</h2>
                    </div>
                </div>
                <form action="" id="wizard">
                    <!-- SECTION 1 -->
                    <h4></h4>
                    <section class="web">
                        <div class="text-center">
                            <h4>Technology</h4>

                            <ul class="nav row nav-pills">
                                <li class="col-sm-4">
                                    <a data-toggle="pill" class="active" href="#react">
                                        <div>
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/react.png" alt=""></div>
                                                <h4>ReactJS</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a data-toggle="pill" href="#angular">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/angular.png" alt=""></div>
                                                <h4>Angular</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a data-toggle="pill" href="#jquery">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/jquery.png" alt=""></div>
                                                <h4>JQuery</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="react" class="tab-pane fade in active show">
                                    <h4 class="pt-4">ReactJS</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 670</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DesignsWR" name="DesignsWR">
                                                <label class="custom-control-label" for="DesignsWR">Designs</label>
                                            </div>
                                        </li>
                                        <li>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DatabaseWR" name="DatabaseWR">
                                                <label class="custom-control-label" for="DatabaseWR">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="APIWR" name="APIWR">
                                                <label class="custom-control-label" for="APIWR">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SecurityLayerWR" name="SecurityLayerWR">
                                                <label class="custom-control-label" for="SecurityLayerWR">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="CloudServersWR" name="CloudServersWR">
                                                <label class="custom-control-label" for="CloudServersWR">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalApiWR" name="ExternalApiWR">
                                                <label class="custom-control-label" for="ExternalApiWR">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSdkWR" name="SpecialSdkWR">
                                                <label class="custom-control-label" for="SpecialSdkWR">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3 ">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreenWR" name="AmountOfScreenWR" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="angular" class="tab-pane fade">
                                    <h4 class="pt-4">Angular</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 945</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DesignsWA" name="DesignsWA">
                                                <label class="custom-control-label" for="DesignsWA">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DatabaseWA" name="DatabaseWA">
                                                <label class="custom-control-label" for="DatabaseWA">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="APIWA" name="APIWA">
                                                <label class="custom-control-label" for="APIWA">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SecurityLayerWA" name="SecurityLayerWA">
                                                <label class="custom-control-label" for="SecurityLayerWA">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="CloudServersWA" name="CloudServersWA">
                                                <label class="custom-control-label" for="CloudServersWA">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalApiWA" name="ExternalApiWA">
                                                <label class="custom-control-label" for="ExternalApiWA">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSdkWA" name="SpecialSdkWA">
                                                <label class="custom-control-label" for="SpecialSdkWA">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3 ">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreenWA" name="AmountOfScreenWA" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="jquery" class="tab-pane fade">
                                    <h4 class="pt-4">jquery</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 1200</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DesignsWJ" name="DesignsWJ">
                                                <label class="custom-control-label" for="DesignsWJ">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DatabaseWJ" name="DatabaseWJ">
                                                <label class="custom-control-label" for="DatabaseWJ">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="APIWJ" name="APIWJ">
                                                <label class="custom-control-label" for="APIWJ">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SecurityLayerWJ" name="SecurityLayerWJ">
                                                <label class="custom-control-label" for="SecurityLayerWJ">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="CloudServersWJ" name="CloudServersWJ">
                                                <label class="custom-control-label" for="CloudServersWJ">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalApiWJ" name="ExternalApiWJ">
                                                <label class="custom-control-label" for="ExternalApiWJ">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSdkWJ" name="SpecialSdkWJ">
                                                <label class="custom-control-label" for="SpecialSdkWJ">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3 ">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreenWJ" name="AmountOfScreenWJ" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 2 -->
                    <h4></h4>
                    <section class="mobile">
                        <div class="text-center">
                            <ul class="nav row nav-pills">
                                <li class="col-sm-4">
                                    <a data-toggle="pill" class="active" href="#Android">
                                        <div>
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/android.png" alt=""></div>
                                                <h4>Android</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a data-toggle="pill" href="#iPhone">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/iphone.png" alt=""></div>
                                                <h4>IPhone</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a data-toggle="pill" href="#both">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/both.png" alt=""></div>
                                                <h4>Both</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="Android" class="tab-pane fade in active show">
                                    <h4 class="pt-4">Android</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 670</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DesignsMA" name="DesignsMA">
                                                <label class="custom-control-label" for="DesignsMA">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DatabaseMA" name="DatabaseMA">
                                                <label class="custom-control-label" for="DatabaseMA">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="APIMA" name="APIMA">
                                                <label class="custom-control-label" for="APIMA">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SecurityLayerMA" name="SecurityLayerMA">
                                                <label class="custom-control-label" for="SecurityLayerMA">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="CloudServersMA" name="CloudServersMA">
                                                <label class="custom-control-label" for="CloudServersMA">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalApiMA" name="ExternalApiMA">
                                                <label class="custom-control-label" for="ExternalApiMA">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSdkMA" name="SpecialSdkMA">
                                                <label class="custom-control-label" for="SpecialSdkMA">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3 ">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreenMA" name="AmountOfScreenMA" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="iPhone" class="tab-pane fade">
                                    <h4 class="pt-4">IPhone</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 945</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DesignsMI" name="DesignsMI">
                                                <label class="custom-control-label" for="DesignsMI">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DatabaseMI" name="DatabaseMI">
                                                <label class="custom-control-label" for="DatabaseMI">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="APIMI" name="APIMI">
                                                <label class="custom-control-label" for="APIMI">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SecurityLayerMI" name="SecurityLayerMI">
                                                <label class="custom-control-label" for="SecurityLayerMI">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="CloudServersMI" name="CloudServersMI">
                                                <label class="custom-control-label" for="CloudServersMI">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalApiMI" name="ExternalApiMI">
                                                <label class="custom-control-label" for="ExternalApiMI">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSdkMI" name="SpecialSdkMI">
                                                <label class="custom-control-label" for="SpecialSdkMI">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3 ">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreenMI" name="AmountOfScreenMI" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="both" class="tab-pane fade">
                                    <h4 class="pt-4">Both</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 1200</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DesignsMAI" name="DesignsMAI">
                                                <label class="custom-control-label" for="DesignsMAI">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="DatabaseMAI" name="DatabaseMAI">
                                                <label class="custom-control-label" for="DatabaseMAI">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="APIMAI" name="APIMAI">
                                                <label class="custom-control-label" for="APIMAI">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SecurityLayerMAI" name="SecurityLayerMAI">
                                                <label class="custom-control-label" for="SecurityLayerMAI">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="CloudServersMAI" name="CloudServersMAI">
                                                <label class="custom-control-label" for="CloudServersMAI">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalApiMAI" name="ExternalApiMAI">
                                                <label class="custom-control-label" for="ExternalApiMAI">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSdkMAI" name="SpecialSdkMAI">
                                                <label class="custom-control-label" for="SpecialSdkMAI">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3 ">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreenMAI" name="AmountOfScreenMAI" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 3 -->
                    <h4></h4>
                    <section class="web-mobile">
                        <div class="text-center">
                            <ul class="nav row nav-pills justify-content-center">
                                <li class="col-sm-4">
                                    <a data-toggle="pill" class="active" href="#MobileSection">
                                        <div>
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/mobile.png" alt=""></div>
                                                <h4>Mobile Section</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a data-toggle="pill" href="#webSection">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/web.png" alt=""></div>
                                                <h4>Web Section</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="MobileSection" class="tab-pane fade in active show">
                                    <h4 class="pt-4">Mobile Section</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 670</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Designs4" name="example1">
                                                <label class="custom-control-label" for="Designs4">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Database4" name="example1">
                                                <label class="custom-control-label" for="Database4">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="API4 " name="example1">
                                                <label class="custom-control-label" for="API4 ">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Securitylayer4" name="example1">
                                                <label class="custom-control-label" for="Securitylayer4">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Cloudservers4" name="example1">
                                                <label class="custom-control-label" for="Cloudservers4">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalAPIs4" name="example1">
                                                <label class="custom-control-label" for="ExternalAPIs4">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSDKs4" name="example1">
                                                <label class="custom-control-label" for="SpecialSDKs4">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreen4" name="AmountOfScreen4" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="webSection" class="tab-pane fade">
                                    <h4 class="pt-4">Web Section</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 945</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Designs5" name="example1">
                                                <label class="custom-control-label" for="Designs5">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Database5" name="example1">
                                                <label class="custom-control-label" for="Database5">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="API5 " name="example1">
                                                <label class="custom-control-label" for="API5 ">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Securitylayer5" name="example1">
                                                <label class="custom-control-label" for="Securitylayer5">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Cloudservers5" name="example1">
                                                <label class="custom-control-label" for="Cloudservers5">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalAPIs5" name="example1">
                                                <label class="custom-control-label" for="ExternalAPIs5">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSDKs5" name="example1">
                                                <label class="custom-control-label" for="SpecialSDKs5">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreen5" name="AmountOfScreen5" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 4 -->
                    <h4></h4>
                    <section class="poc">
                        <div class="text-center">
                            <ul class="nav row nav-pills justify-content-center">
                                <li class="col-sm-4">
                                    <a data-toggle="pill" class="active" href="#MobilePOC">
                                        <div>
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/mobile.png" alt=""></div>
                                                <h4>Mobile POC</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a data-toggle="pill" href="#Crawling">
                                        <div class="">
                                            <div class="border-box">
                                                <div class="icon"><img src="~/Content/images/web.png" alt=""></div>
                                                <h4>Crawling</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="MobilePOC" class="tab-pane fade in active show">
                                    <h4 class="pt-4">Mobile POC</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 670</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Designs6" name="example1">
                                                <label class="custom-control-label" for="Designs6">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Database6" name="example1">
                                                <label class="custom-control-label" for="Database6">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="API6 " name="example1">
                                                <label class="custom-control-label" for="API6 ">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Securitylayer6" name="example1">
                                                <label class="custom-control-label" for="Securitylayer6">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Cloudservers6" name="example1">
                                                <label class="custom-control-label" for="Cloudservers6">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalAPIs6" name="example1">
                                                <label class="custom-control-label" for="ExternalAPIs6">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSDKs6" name="example1">
                                                <label class="custom-control-label" for="SpecialSDKs6">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreen6" name="AmountOfScreen6" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Crawling" class="tab-pane fade">
                                    <h4 class="pt-4">Crawling (Web / Mobile)</h4>
                                    <div class="checkbox-list">
                                        @*<div class="amount">$ 945</div>*@
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Designs7" name="example1">
                                                <label class="custom-control-label" for="Designs7">Designs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Database7" name="example1">
                                                <label class="custom-control-label" for="Database7">Database</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="API7 " name="example1">
                                                <label class="custom-control-label" for="API7 ">API</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Securitylayer7" name="example1">
                                                <label class="custom-control-label" for="Securitylayer7">Security layer</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Cloudservers7" name="example1">
                                                <label class="custom-control-label" for="Cloudservers7">Cloud servers</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ExternalAPIs7" name="example1">
                                                <label class="custom-control-label" for="ExternalAPIs7">External APIs</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="SpecialSDKs7" name="example1">
                                                <label class="custom-control-label" for="SpecialSDKs7">Special SDKs</label>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3">
                                            <div class="row form-group align-items-center">
                                                <div class="col-sm-6 text-center"><label class="font-weight-bold text-dark">Amount of Screens:</label></div>
                                                <div class="col-sm-6"><input type="number" min="1" max="1000" class="form-control" id="AmountOfScreen7" name="AmountOfScreen7" placeholder="Amount of Screens" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 5 -->
                    <h4></h4>
                    <section class="final-step">
                        <div class="text-center">
                            <div class="tab-content">
                                <div id="MobilePOC" class="tab-pane fade in active show">
                                    <div class="checkbox-list">
                                        <li>
                                            Urgency
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Urgency" name="Urgency">
                                                <label class="custom-control-label" for="Urgency">Immediate</label>
                                            </div>
                                        </li>
                                        <li>
                                            Developers
                                            <div class="custom-control custom-checkbox">
                                                @*<input type="radio" class="custom-control-input" id="Developers" name="Developers">*@
                                                <input type="radio" class="custom-control-input" name="Developers" value="Domestic">Domestic<br>
                                                <input type="radio" class="custom-control-input" name="Developers" value="Outsource">Outsource<br>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>

            <svg class="homeBgWave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 50" xml:space="preserve" preserveAspectRatio="none">
            <path class="homeBgWave__background" d="M0,50h1920c0,0-320-35-640-35S960,27.5,640,27.5S320,10,0,10V50z"></path>
            <path class="homeBgWave__wave" d="M0,20c320,0,320,15,640,15s320-15,640-15s640,30,640,30s-320-40-640-40S966,20,640,20S314,0,0,0V20z"></path>
  </svg>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/Content/images/logo.png" class="logo" alt="">
                        <h5>Better yet, see us in person! </h5>
                        <div class="address">
                            <p>We love our customers, so feel free to visit during normal business hours.</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <h5>Helpful Links</h5>
                        <ul class="footer-nav">
                            <li><a href="#"><i class="fa fa-angle-right"></i><span>Home</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i><span>Portfolio</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i><span>Services</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="">Opening Hours</h5>
                        <div class="address">
                            <p>Sunday - Thursday: 9am - 5pm</p>
                            <p>Friday: By appointment</p>
                            <p>Saturday: Closed</p>
                        </div>
                    </div>
                    <div class="col-sm-3 ">
                        <h5>Contact Us</h5>
                        <div class="address">
                            <p>Address: Derech Ben Gurion 10, Ramat Gan, Israel</p>
                            <p>Phone: 972-52-4000999</p>
                            <p><span>E-Mail:</span><a href="#">info@npcoding.com</a></p>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-github-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright">© 2019 NPCoding. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <!-- JQUERY Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- JQUERY STEP -->
    <script src="~/Content/js/jquery.steps.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('#step').click(function () {
                $('html, body').animate({
                    scrollTop: $("div#stepsSection").offset().top
                }, 1000)
            })
        });
    </script>
</body>
</html>